<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="today-datas">
                        <li class="blightblue">
                            <div class="pull-left"><i class="fa fa-plane"></i></div>
                            <div class="datas-text pull-right">
                                <!--<span class="bold">{{vm.date | date:'fullDate'}}</span> Castle Resort, Neverland-->
                                <span class="bold" translate>Conference_Date</span> Castle Resort, Neverland
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li class="borange">
                            <div class="pull-left"><i class="fa fa-envelope"></i></div>
                            <div class="datas-text pull-right">
                                <!--<span class="bold">72 Messages</span>-->
                                <span class="bold" translate="Message_Count"
                                    translate-values="{messageCount: vm.messageCount}"
                                    translate-interpolation="messageformat">
                                </span>
                                <!--<span>
                                    {{vm.money | currency}}
                                </span>-->
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li class="bgreen">
                            <div class="pull-left"><i class="fa fa-envelope"></i></div>
                            <div class="datas-text pull-right">
                                <!--<span class="bold">Mike is logged in</span>-->
                                <span class="bold" translate="Greeting"
                                    translate-values="{name: vm.name}">
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="widget wviolet">
                        <div ht-widget-header title="People"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <!--<th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Location</th>-->
                                        <th translate>First_Name</th>
                                        <th translate="Last_Name"></th>
                                        <th>{{ 'Age' | translate }}</th>
                                        <th translate>Location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="p in vm.people">
                                        <td>{{p.firstName}}</td>
                                        <td>{{p.lastName}}</td>
                                        <td>{{p.age}}</td>
                                        <td>{{p.location}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                Items for Sale!
                <div ng-repeat="item in vm.items">
                    <div ht-widget-towel name="{{item.name}}" price="{{item.price}}"></div>
                </div>
            </div>-->
        </div>
    </section>
</section>